.filters-container {
  @apply fixed left-0 top-0 flex flex-col h-screen;
  background: rgba(30, 41, 59, 0.9);
  transform: trangrayX(-300px);
  width: 300px;
  z-index: 9;
}

.filters-button {
  @apply fixed z-10 left-0 top-20;
  transform: trangrayX(300px);
}

.filter-wrapper-enter {
  transform: trangrayX(-300px) !important;
}

.filter-wrapper-enter-active {
  transform: trangrayX(0px) !important;
  transition: transform 0.3s;
}

.filter-wrapper-enter-done {
  transform: trangrayX(0px) !important;
}

.filter-wrapper-exit {
  transform: trangrayX(0px) !important;
}

.filter-wrapper-exit-active {
  transform: trangrayX(-300px) !important;
  transition: transform 0.3s;
}

.filter-wrapper-exit-done {
  transform: trangrayX(-300px) !important;
}

.filter-icon-enter {
  transform: rotate(0deg) !important;
}

.filter-icon-enter-done {
  transform: rotate(180deg) !important;
}

.filter-icon-enter-active {
  transform: rotate(180deg) !important;
  transition: transform 0.3s;
}

.filter-icon-exit {
  transform: rotate(180deg) !important;
}

.filter-icon-exit-active {
  transform: rotate(0deg) !important;
  transition: transform 0.3s;
}

.filter-icon-exit-done {
  transform: rotate(0deg) !important;
}

@media screen and (max-width: 768px) {
  .filters-button {
    @apply fixed z-10 left-0;
    top: 7.4%;
  }
}